<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TiaPortalOpennessDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<appSettings>
    <add key="DefaultExportPath" value="C:\Temp"/>
    <add key="UserInterfaceEnabled" value="true"/>
    <add key="ExportWithDefaults" value="true"/>
    <add key="ExportReadOnly" value="true"/>
  </appSettings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><userSettings>
    <TiaPortalOpennessDemo.Properties.Settings>
      <setting name="HideAssemblySelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EngineeringVersion" serializeAs="String">
        <value>15.0</value>
      </setting>
      <setting name="AssemblyVersion" serializeAs="String">
        <value>15.0.0.0</value>
      </setting>
      <setting name="DefaultExportPath" serializeAs="String">
        <value>C:\Temp</value>
      </setting>
      <setting name="UserInterfaceEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportWithDefaults" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportReadOnly" serializeAs="String">
        <value>True</value>
      </setting>
    </TiaPortalOpennessDemo.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
